beautifulsoup4==4.6.3
certifi==2018.8.24
chardet==3.0.4
cycler==0.10.0
DAWG-Python==0.7.2
docopt==0.6.2
docx==0.2.4
idna==2.7
kiwisolver==1.0.1
lxml==4.2.5
matplotlib==3.0.0
numpy==1.15.2
Pillow==9.0.1
pygame==1.9.4
pyimgur==0.6.0
pyparsing==2.2.2
python-dateutil==2.7.3
requests==2.19.1
schedule==0.5.0
six==1.11.0
SkPy==0.9
urllib3==1.23

